{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wisebet - make money online</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href='{% static "home/assets/favicon.ico" %}' />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href='{% static "home/css/styles.css" %}' rel="stylesheet" />

    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">WiseBet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-dark border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" style="color:white;">Welcome To Wisebet!</h1>
                    <p class="lead mb-0" style="color:white;">Free guides to making money with sports betting</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <br><br>
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src='{% static "home/assets/money_field.jpg" %}' alt="..." /></a>
                        <div class="card-body">
                            <h2 class="card-title">Best way to consistently make money Online with sports betting</h2>
                            <p class="card-text"> If you’re a sports lover, you probably look forward to the new season with great
                                                    enthusiasm. If you also love money, you might want to consider betting on your
                                                    favorite team.It's a great way to make money online from home. But
                                                    how do you make money from betting on sports?
                                                    You probably already know that there are different types of bets in sports betting. The trick lies
                                                    in knowing which bets hold the most value so that in the long run you can bank in a profit</p>
                            <a class="btn btn-primary" href="best-way-to-make-money-with-sports-betting">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src='{% static "home/assets/2.jpg" %}' alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted"></div>
                                    <h2 class="card-title h4">The Complete Guide to Overs/Unders Betting Strategy</h2>
                                    <h5>Find Winning Value Sports Bets</h5>

                                    <a class="btn btn-primary" href="over-under-strategy">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
<!--                            <div class="card mb-4">-->
<!--                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
<!--                                <div class="card-body">-->
<!--                                    <div class="small text-muted">January 1, 2022</div>-->
<!--                                    <h2 class="card-title h4">Post 2</h2>-->
<!--                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>-->
<!--                                    <a class="btn btn-primary" href="#!">Read more →</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src='{% static "home/assets/3.jpg" %}' alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted"></div>
                                    <h2 class="card-title h4">3 Betting Strategies To Make Money Today</h2>
                                    <p class="card-text">Watch out for this article in the coming few days</p>
<!--                                    <a class="btn btn-primary" href="#!">Read more →</a>-->
                                </div>
                            </div>
                            <!-- Blog post-->
<!--                            <div class="card mb-4">-->
<!--                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>-->
<!--                                <div class="card-body">-->
<!--                                    <div class="small text-muted">January 1, 2022</div>-->
<!--                                      <h2 class="card-title h4">Post Title</h2>-->
<!--                                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>-->
<!--                                    <a class="btn btn-primary" href="#!">Read more →</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>

                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">


                    <!-- Side widget-->
                    <div class="card mb-4">
                        {% for ad in ad_list %}
                        <div class="card mb-4">
                            <div class="card-header"> <h5>{{ ad.name }}</h5></div>
                            <div class="card-body">{{ ad.description }} </div>
                            <div class="card-body"> <a class="btn btn-primary" href={{ ad.url }}>Get →</a></div>
                        </div>
                        {% endfor %}
                    </div>
                    {% for promo in promotion %}
                    <div class="card mb-4">
                        <div class="card-header"><h5> {{ promo.name }}</h5></div>
                        <div class="card-body">{{ promo.description }} </div>
                       <div class="card-body"> <a class="btn btn-primary" href="landing-page">Get Free Guide →</a></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Wisebet.com 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src='{% static "home/js/scripts.js" %}'></script>
    </body>
</html>